<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.emmaguy.pocketwidget"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/settings"
        android:label="@string/settings_label"
        android:name=".App"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".widget.WidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <activity
            android:name=".ui.LauncherActivity"
            android:icon="@drawable/settings"
            android:label="@string/settings_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:icon="@drawable/settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="pocketwidget" />
            </intent-filter>
        </activity>

        <provider
            android:name=".DataProvider"
            android:authorities="dev.emmaguy.pocketwidget.DataProvider"
            android:exported="false" />

        <service
            android:name=".RetrieveJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".dashclock.DashClockProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/widget_description" />
            <meta-data
                android:name="settingsActivity"
                android:value="dev.emmaguy.pocketwidget.SettingsActivity" />
        </service>

        <activity
            android:name=".ui.GraphActivity"
            android:label="@string/title_activity_graph"
            android:parentActivityName=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.emmaguy.pocketwidget.ui.SettingsActivity" />
        </activity>
    </application>

</manifest>
